[submodule "h5p-php-library"]
	path = h5p-php-library
	url = https://github.com/h5p/h5p-php-library.git
[submodule "h5p-editor-php-library"]
	path = h5p-editor-php-library
	url = https://github.com/h5p/h5p-editor-php-library.git
