#toplevel_page_h5p .wp-menu-image:before {
  font-family: 'H5P' !important;
  content: "\e88e";
  padding: 7px 0;
}
.h5peditor-form a {
  text-decoration: none;
}
.h5p-wp-admin-wrapper {
  max-width: 960px;
}
#h5p-content-form {
  padding-top: 10px;
  margin-right: 300px;
}
#h5p-content-form .postbox {
  float: right;
  margin-right: -300px;
  width: 280px;
}
#h5p-content-form #minor-publishing {
  line-height: 175%;
  padding: 12px;
}
#h5p-content-form .submitbox {
  line-height: 30px;
  overflow: hidden;
}
#h5p-content-form .button-primary {
  float: right;
}
#h5p-content-form label {
  display: block;
}
.h5p-updated-at, .h5p-created-at, .h5p-edit-link {
  width: 10em;
}
#h5p-admin-container table.libraries,
#h5p-admin-container .h5p-content,
#h5p-library-form .postbox {
  width: 960px;
}
#h5p-library-form #minor-publishing {
  padding: 10px;
}

#h5p-admin-container .h5p-used-in {
  text-align: center;
}

.h5p-admin-rebuild-cache {
  width: 940px;
  padding: 0 10px 10px 10px;
}

#h5p-outdated {
  overflow: hidden;
}
#h5p-outdated > li {
  float: left;
  padding-right: 1em;
}
#h5p-content-form #titlediv {
  margin-bottom: 10px;
}
#h5p-admin-container .h5p-admin-center {
  text-align: center;
}
