#toplevel_page_h5p .wp-menu-image:before {
  font-family: 'H5P' !important;
  content: "\e88e";
  padding: 7px 0;
}
.h5peditor-form a {
  text-decoration: none;
}
.h5p-wp-admin-wrapper {
  max-width: 960px;
}
#h5p-content-form {
  padding-top: 10px;
  margin-right: 300px;
}
#h5p-content-form .postbox {
  float: right;
  margin-right: -300px;
  width: 280px;
  clear: right;
}
#h5p-content-form #minor-publishing, #h5p-content-form .h5p-action-bar-settings {
  line-height: 175%;
  padding: 12px;
}
#h5p-content-form .submitbox {
  line-height: 30px;
  overflow: hidden;
}
#h5p-content-form .button-primary {
  float: right;
}
#h5p-content-form label {
  display: block;
}
.h5p-updated-at, .h5p-created-at {
  width: 15em;
}
.h5p-results-link, .h5p-edit-link, .h5p-insert-link {
  width: 5em;
}
#h5p-admin-container table.libraries,
#h5p-admin-container .h5p-content,
.h5p.postbox {
  width: 960px;
}
#h5p-library-form #minor-publishing {
  padding: 10px;
}

#h5p-admin-container .h5p-used-in {
  text-align: center;
}

.h5p-admin-rebuild-cache {
  width: 940px;
  padding: 0 10px 10px 10px;
}

#h5p-outdated {
  overflow: hidden;
}
#h5p-outdated > li {
  float: left;
  padding-right: 1em;
}
#h5p-content-form #titlediv {
  margin-bottom: 10px;
}
#h5p-admin-container .h5p-admin-center {
  text-align: center;
}
.h5p-pagination {
  line-height: 2em;
}
.h5p-insertion #TB_ajaxContent {
  position: absolute;
  width: 100% !important;
  height: auto !important;
  top: 30px;
  bottom: 0;
  padding: 0;
}
.h5p-insertion table {
  border-left: 0;
  border-right: 0;
}
.h5p-insertion input[type="text"] {
  margin: 0.5em;
}
.h5p-insertion td:nth-child(6) {
  text-align: right;
}
.h5p-disable-file-check {
  margin-top: 0.5em;
}
.h5p-disable-file-check .h5p-warning {
  font-size: 0.875em;
  margin-top: 0.5em;
}
.h5p-action-bar-settings > div {
  margin-bottom: 0.5em;
}
.h5p-auto-save-freq {
  padding-top: 0.5em;
}
.h5p-auto-save-freq label {
  display: block;
}
.h5p-auto-save-freq label:after {
  content: ":";
}
.h5p-text-holder {
  padding: 10px;
}
.h5p-button-holder {
  padding: 10px;
  clear: both;
  border-top: 1px solid #ddd;
  background: #f5f5f5;
}
#h5p-download-update:after {
  content: "!";
  display: block;
  font-size: 3em;
  font-weight: bold;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 1.25em;
  height: 1.25em;
  line-height: 1.25em;
  text-align: center;
  color: #fff;
  background: #d54e21;
  border-radius: 50%;
}

@media screen and (max-width: 782px) {
  .wrap h2 {
    margin-bottom: 0.25em;
  }
  .h5p-iframe-wrapper,
  .h5p-content {
    margin-right: -12px;
    margin-left: -10px;
  }
}
